/** *************************** General ************************************ **/
body {
  background-color: skyblue;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.info {
  display: flex;
  justify-content: center;
}

.info h2 {
  margin: 0 8px;
}

#miss-text {
  margin-left: 60px;
}

/** *************************** Targets ************************************ **/
.targets {
  display: inline-flex;
  margin-top: 70px;
  margin-bottom: 70px;
}

.button {
  min-height: 100px;
  min-width: 100px;
  border-radius: 50%;
  background-color: lightyellow;
  margin-left: 50px;
  margin-right: 50px;
}

.noclick {
  pointer-events: none;
}

.active {
  background-image: url("https://public.bc.fi/s2100145/Group%2013.png");
}
/** *************************** Game over screen ************************** **/
#gameover {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -300px;
  margin-left: -200px;
  height: 200px;
  width: 400px;
  border: black;
  border-style: solid;
  border-width: 2px;
  border-radius: 10%;
  background-color: snow;
  z-index: 100;
}

.gameoveroff {
  display: none;
}
/** *************************** Start, stop & reset buttons ************************* **/
button {
  margin-left: 50px;
  margin-right: 50px;
  height: 40px;
  width: 80px;
  font-size: 20px;
  cursor: pointer;
}

button a {
  color: black;
  text-decoration: none;
}

.invis {
  display: none;
}
