body {
  background-color: rgb(204, 248, 248);
  color: rgb(0, 0, 0);
}

p {
  font-size: 24px;
}

#bulbs {
  top: 200px;
  left: 300px;
  height: 500px;
  width: 500px;
  position: relative;
}

.bulb {
  position: absolute;
  height: 40px;
  width: 40px;
  background-color: green;
  margin: 5px;
  display: inline-block;
  border-radius: 50%;
  -webkit-transition: background-color 0.1s ease-out;
  -moz-transition: background-color 0.1s ease-out;
  -o-transition: background-color 0.1s ease-out;
  transition: background-color 0.1s ease-out;
}

.bulb.winner {
  background: red;
}

.bulb.active {
  background: yellow;
}

div {
  margin: 10px;
}

button {
  height: 60px;
  width: 90px;
  font-weight: 600;
  font-size: 22px;
  background-color: rgb(111, 145, 245);
}
